@charset "UTF-8";
/* CSS Document */
body{
	background-color:burlywood;
}

h1 {
	color:lightgoldenrodyellow;
	text-shadow: 3px 15px 3px saddlebrown;
	text-decoration-style: wavy;
	text-align: center;
	font-size: 76px;
	font-family: 'ZCOOL KuaiLe', cursive;
	border-style:solid;
	border-width:6px;
	width:11em;
	border-color:saddlebrown;
	padding:10px;
}

p{
	color:saddlebrown;
	font-size:36px;
	text-align:center;
	padding-left:9em;
	padding-right:9em;
	padding-top:3em;
	font-family: 'Amatic SC', cursive;
}