@charset "UTF-8";
/* CSS Document */
body{
	background-color:burlywood;
}

h1 {
	margin-top:150px;
	color:lightgoldenrodyellow;
	text-shadow: 24px 25px 3px saddlebrown;
	text-decoration-style: wavy;
	text-align: center;
	font-size: 96px;
	font-family: 'ZCOOL KuaiLe', cursive;
	width:11em;
	padding:10.5px;
}

p{
	color:saddlebrown;
	font-size:36px;
	text-align:center;
	padding-left:8em;
	padding-right:8em;
	padding-top:18px;
	font-family: 'Amatic SC', cursive;
}

.button {
  background-color: saddlebrown;
  border: none;
  color: lightgoldenrodyellow;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 21px;
 margin-top:40px;
font-family: 'ZCOOL KuaiLe', cursive;
  cursor: pointer;