@charset "UTF-8";
/* CSS Document */
body{
	background-color:burlywood;
	background-image: url("Tropical tree.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}

h1 {
	margin-top:50px;
	color:lightgoldenrodyellow;
	text-shadow: 24px 25px 3px saddlebrown;
	text-decoration-style: wavy;
	text-align: center;
	font-size: 96px;
	font-family: 'ZCOOL KuaiLe', cursive;
	width:11em;
	padding:10.5px;
}

p {
	color:saddlebrown;
	font-size:36px;
	text-align:center;
	padding-left:3em;
	padding-right:3em;
	padding-top:18px;
	padding-bottom:18px;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:15em;
	border-radius:15px;
	opacity: 0.86;
}

h2 {
	color:saddlebrown;
	font-size:24px;
	text-align:center;
	padding:12px;
	margin-top:-1em;
	margin-left:47em;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:8em;
	border-radius:15px;
	opacity: 0.86;
}

h3 {
	color:saddlebrown;
	font-size:24px;
	text-align:center;
	padding:12px;
	margin-top:-22em;
	margin-left:47em;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:8em;
	border-radius:15px;
	opacity: 0.86;
}

h4 {
	color:saddlebrown;
	font-size:24px;
	text-align:center;
	padding:12px;
	margin-top:-22em;
	margin-left:47em;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:8em;
	border-radius:15px;
}

h5 {
	color:saddlebrown;
	font-size:24px;
	text-align:center;
	padding:12px;
	margin-top:-1em;
	margin-left:2em;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:8em;
	border-radius:15px;
}

h6 {
	color:saddlebrown;
	font-size:24px;
	text-align:center;
	padding:12px;
	margin-top:-24em;
	margin-left:14em;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:8em;
	border-radius:15px;
}

h7 {
	color:saddlebrown;
	font-size:24px;
	text-align:center;
	padding:12px;
	margin-top:-15em;
	margin-left:14em;
	font-family: 'Amatic SC', cursive;
	background-color: lightgoldenrodyellow;
	width:8em;
	border-radius:15px;
}

.button {
  background-color: saddlebrown;
  border: none;
	border-radius:10px;
  color: lightgoldenrodyellow;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
 margin-top:40px;
  cursor: pointer;
  font-family: 'Amatic SC', cursive;
}

#map {
	margin-left:-600px;
}

div {
  width: 100px;
  height: 100px;
  background: red;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

div:hover {
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(180deg); /* Safari */
  transform: rotate(180deg);
}

.img{
	margin-left:67em;
	margin-top:-6.5em;
}
